{% extends 'blog/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품목록</title>
</head>

<body>
    <br><br>
    <div class="container">
    <center>
        <a href="{% url 'main:data_list' %}"><img src= "/static/img/data.png" alt="데이터베이스"width="40"  ></img></a>
        &nbsp &nbsp &nbsp &nbsp
        <a href="{% url 'main:upload_image'%}"><img src= "/static/img/search.png" alt="이미지 업로드"width="150"  ></img></a>
    </center>
    <br><br>
    <img src= "/static/img/product.png" alt="제품"width="55"  >
    <br><br>
    {% if code_list %}
    <ul>
        {% for codes in code_list %}
            <h1><a href="{% url 'main:product_detail' codes.code %}">{{ codes.name }}</a></h1>
            <p>바코드 : {{ codes.code }}</p>
            <p>가격 : {{ codes.charge }}</p>
            <p>시간 : {{ codes.pub_date }}</p>
            <br>
        {% endfor %}
    </ul>
    {% else %}
        <p>자료가 없습니다.</p>
    {% endif %}
    <!-- <a href="{% url 'main:data_list' %}">데이터베이스</a><br> -->
    <!-- <a href="{% url 'main:upload_image' %}">이미지 제출</a><br> -->
    <a href="{% url 'main:upload_code' %}">바코드 제출</a><br>
    <br><br><br>
    <a href="{% url 'main:result' %}">상품들의 총 합계 가격 보러가기</a><br>
    <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
</body>
</html>

{% endblock content %}